PORT=

MONGO_URI=

JWT_SECRET=

JWT_EXPIRES_IN=

NODE_ENV=

SMTP_USER=
SMTP_KEY=
SENDER_MAIL=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
##fill your own values in the above variables and rename this file to .env before running the server.